<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_kss4vtnt1n61or.css">
    <link rel="stylesheet" href="../static/common/reset.css">
    <link rel="stylesheet" href="../static/index/index.css">
</head>
<body>

<script>
    window.articles = <%- JSON.stringify(articles) %>;
    console.log('articles', articles);
</script>

<!--头部-->
<% include header %>

<!--主体-->
<section class="main">

    <% if(articles && articles.errno === 0){ %>
    <% for(var i = 0;i < articles.data.length;i++){ %>
    <!--文章-->
    <article class="article">
        <!--第一行，这里挤到一块是为了去除span标签的间距-->
        <div class="row1">
            <!--头像外层--><span class="avatar-wrapper"
                             style="background-image: url(<%= articles.data[i].author_avatar %>)">
            </span><!--作者--><span class="author"><%= articles.data[i].author_name %></span><!--时间--><span
                    class="time"><%= articles.data[i].updated_at %></span>
        </div>
        <!--标题-->
        <h2 class="title"><%= articles.data[i].title %></h2>
        <!--内容-->
        <p class="content"><%= articles.data[i].intro %></p>
        <!--第四行-->
        <div class="row4">
            <!--标签--><span class="tag"><%= articles.data[i].tag %></span><!--阅读量--><span class="read-count"><i
                        class="iconfont icon-yanjing"></i><%= articles.data[i].read_count %></span><!--评论量--><span
                    class="comment-count"><i
                        class="iconfont icon-iconfontconment"></i><%= articles.data[i].comments %></span>
            <!--收藏（喜欢）量--><span class="like-count"><i
                        class="iconfont icon-favorite"></i><%= articles.data[i].likes %></span><!--赞赏量--><span
                    class="donate-count"><i
                        class="iconfont icon-dashang"></i><%= articles.data[i].donates %></span>
        </div>
    </article>
    <% } %>
    <% } %>

</section>

<!--jQuery-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../static/index/index.js"></script>
</body>
</html>